.profile-content {
  display: flex;
  width: 880px;
}

.profile-content img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  margin-right: 3rem;
}

.title {
  width: 100%;
  font-size: 36px;
  font-weight: normal;
  color: #7f52ff;
}

p {
  color: #ffffff;
  font-size: 18px;
  text-align: justify;
}

.info-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title-content i {
  color: #ffffff;
  font-size: 30px;
  margin-right: 10px;
}
